# =========================
# ROS2 / colcon
# =========================

build/
install/
log/


# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# VSCode
# =========================

.vscode/


# =========================
# Linux
# =========================

*~
.DS_Store
Thumbs.db


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# ROS bags
# =========================

*.db3
*.mcap


# =========================
# Temporary RViz configs
# =========================

*.rviz.bak